body.content {
    display: block;
    width: 1480px;
    height: 1282px;
    margin-left: auto;
    margin-right: auto;   
}

/* Header */
.header-logo-1, .header-logo-2 {
display: inline-block;
text-align: start;
text-decoration: none;
font-size: 0px;
font-family: Arial, Helvetica, sans-serif;
height: 79px;
/* width: 334px; */
/* padding: 0px 5px 0px 5px; */
margin-left: 98px;
margin: 63px 0px 40px 0px;
}

.header-logo-1 {
    color: #000000;
    font-size: 79px;
    margin-left: 98px;
}

.header-logo-2 {
    color: #4BCAFF;
    font-size: 79px
}

.header-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1280px;
    height: 69px;
    background-color: #35444F;
    box-sizing: border-box;
    border: 2px solid white;
    margin: 0px 100px;
}

.header-link, .header-link-1, .header-link-2, .header-link-4 {
    display: flex;
    /* width: 100%; */
    height: 69px;
    text-align: center;
    align-items: center;
    font-size: 27px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    box-sizing: border-box;
    color: white;
    padding: 0px 30px;
    border: 1px solid white;
    margin: auto;
}

/* Pseudo-elements */
.header-link-1{
    border-left: 2px solid white;
}

/* Pseudo-classes */
.header-link-2:hover {
    background-color: #222F3A;
}

/* Pseudo-classes */
.header-link-2:active {
    color: red;
    /* border: 2px solid red; */
}
    
/* Pseudo-elements */
.header-link-4 {
    border-right: 2px solid white;
}

.flex-conteiner {
    display: flex;
    align-items: flex-start;
    /* justify-content: ; */    
}

/* Aside */
.aside-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    width: 344px;
    height: 399px;
    border: 1px solid black; 
    /* padding-left: 38px ; */
    margin: 49px 52px 49px 100px;
}

.aside-link, .aside-link-1 {
    display: inline-flex; 
    align-items: center;
    font-size: 27px;
    height: 81px;
    width: 342px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-align: center;
    padding-left: 38px;
    box-sizing: border-box;    
}

/* Pseudo-classes:link */
/* color: */
 
/* Pseudo-classes:visited */
/* color: */

/* Pseudo-classes:hover */
.aside-link-1:hover {
    background-color: #DBDBDB;
    color: black;    
}

/* Pseudo-classes:active */
.aside-link-1:active {
    color: red;
    /* border: 2px solid red;  */
}

/* Main */
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 885px;
    height: 529px;
    box-sizing: border-box;
    border: 1px solid black; 
    margin: 49px 0px 37px 0px;
}

.box-imeg {
    width: 320px;
    height: 381px;
    box-sizing: border-box;
    border: 1px solid black; 
    overflow: hidden;
}

.imeg-1:hover {
    transform: scale(1.5);
    transition: 0.35s;
}

.element-lorem-ipsum {
    display:  flex;
    /* text-align: end; */
    /* margin: 0px 100px; */
    flex-direction: column;
    align-items: end;    
} 

.text-lorem {
    text-align: start;
    width: 885px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin-right: 99px;
    border: 1px solid white; 
}

/* Footer */
.footer-menu {
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: center;
    width: 1280px;
    height: 69px;
    background-color: rgba(99, 105, 110, 0.48);
    box-sizing: border-box;
    border: 2px solid white;
    margin: 54px 100px 30px 100px;
}

.footer-text {
    display: flex;
    height: 69px;
    align-items: center;
    font-size: 27px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    box-sizing: border-box;
    color: black;
    /* padding: 0px 30px; */
    margin: 0px 0px 0px 40px;    
}

.footer-link {
    text-decoration:none;
    color: black;
}

/* Pseudo-classes:hover */
.footer-link:hover {
    text-decoration: underline;
    color:#3181A6;
}

/* Pseudo-classes:active */
.footer-link:active {
    color: red;
    /* border: 2px solid red; */
}

.footer-logo {
    display: inline-block;
    width: 190px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: auto;
}
